extends layout

block mainContent
    section(role='main')
        include partials/post-header

        #recent_articles
            -for (var i = 0; i<page.items.length;i++)
                -pageItem = page.items[i];
                .article
                    article
                        .wrapper.clearfix
                            .header
                                header
                                    h2
                                        a(href=pageItem.url) #{pageItem.title}
                                            -if (pageItem.subtitle)
                                                small #{pageItem.subtitle}
                                    .time
                                        time(datetime="#{pageItem.published}", pubdate) #{ciadc.pretty_date(pageItem.published)}
                            p #{pageItem.summary}
                            -if (pageItem.tags)
                                aside
                                    h3.at tags
                                    ul
                                        -for (var x=0; x<pageItem.tags.length;x++)
                                            -tag = pageItem.tags[x];
                                            li
                                                a(href='/tags/' + tag.url) #{tag.title}
            -if(page.count!==1)
                h3.at navigate post pages
                ul.navigator
                    -for (var y=0;y<page.count; y++)
                        -page_number = y+1
                        li
                            -if (page_number==page.current)
                                b
                                    a(href='/' + page_number) #{page_number}
                            -else
                                a(href='/' + page_number) #{page_number}